:root{
    /* Theme 1 */
        /* Backgrounds  */
    --very-dark-desaturated-blue-main-bg :hsl(222, 26%, 31%); 
    --keypad-bg :                hsl(223, 31%, 20%);
    --screen-bg :                hsl(224, 36%, 15%);
        /* key colors */
    --desaturated-dark-blue-kbg: hsl(225, 21%, 49%);
    --desaturated-dark-blue-ks : hsl(224, 28%, 35%);
    --key-bg-toggle:             hsl(6, 63%, 50%);
    --dark-red-ks:               hsl(6, 70%, 34%); 
    --light-grayish-orange-kbg:  #eae3dc;
    --grayish-orange-ks:         #b4a597;
        /* Text colors */
    --very-dark-grayish-blue:    hsl(221, 14%, 31%); 
    --white:                     hsl(0, 0%, 100%);
    
    /* Theme 2 */
        /* Backgrounds  */
    --light-gray-main-gb:       hsl(0, 0%, 90%);
    --grayish-red-toggle-bg:    hsl(0, 5%, 81%);
    --keypad-bg:                hsl(0, 5%, 81%); 
    --very-light-gray-screen-bg:hsl(0, 0%, 93%);
        /* Keys  */
    --dark-moderate-cyan-kbg:   hsl(185, 42%, 37%); 
    --very-dark-cyan-ks:        hsl(185, 58%, 25%);
    --orange-kbg-toggle:        hsl(25, 98%, 40%);
    --dark-orange-ks:           hsl(25, 99%, 27%);
    --light-grayish-yellow-key-bg: hsl(45, 7%, 89%);
    -dark-grayish-orange-ks:    hsl(35, 11%, 61%);
        /* Text  */
    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --white:                    hsl(0, 0%, 100%);

    /* Theme 3  */
        /* Backgrounds  */
    --very-dark-violet-main-bg: hsl(268, 75%, 9%);
    --very-dark-violet-toggle-bg:hsl(268, 71%, 12%);
    --keypad-bg:                hsl(268, 71%, 12%); 
    --screen-bg:                hsl(268, 71%, 12%);
        /* Keys  */
    --dark-violet-key-bg:       hsl(281, 89%, 26%);
    --vivid-magenta-ks:         hsl(285, 91%, 52%);
    --pure-cyan-key-bg-toggle:  hsl(176, 100%, 44%);
    --soft-cyan-ks:             hsl(177, 92%, 70%);
    --very-dark-violet-key-bg:  hsl(268, 47%, 21%);
    --dark-magenta-ks:          hsl(290, 70%, 36%);
        /* Text  */
    --light-yellow:             hsl(52, 100%, 62%);
    --very-dark-blue:           hsl(198, 20%, 13%);
    --white:                    hsl(0, 0%, 100%);
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--very-dark-desaturated-blue-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    user-select: none; /* prevent text selection when user double clicks the buttons */
}
.container{
    width: 300px;
    border-radius: .4rem;
    padding: 0.4rem;
}
.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}
 /* style range input for the theme selector */
 .themeSelector{
    display: flex;
    position: relative;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 5rem;
    /* background-color: aqua; */
    font-size: .6rem;
 }
label{
    display: flex;
    
    justify-content: space-between;
    position: absolute;
    width: 2rem;
    right: 5px;
    top: 0;
}
input[type="range"] {
    width: 2.5rem;
    height: 1rem;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--screen-bg);
    border-radius: .5rem;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.9rem;
    border-radius: .5rem;
    background-color: transparent;
    padding: 2.5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    /* margin: 2px; Centers thumb on the track */
    background-color: var(--key-bg-toggle);
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
}
.screen{
    width: 90%;
    height: 4rem;
    background-color: var(--screen-bg);
    margin: .7rem auto;
    border-radius: .5rem;
    color: var(--white);
    padding: .5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.currentNumber{
    font-size: 1.5rem;

}
.result{
    font-size: 0.8rem;
    display: none;
}

.buttons{
    width: 90%;
    display: grid;
    text-transform: uppercase;
    grid-template-columns: repeat(4, 1fr);
    gap: .7rem;
    margin: .5rem auto;
    background-color: var(--keypad-bg);
    text-align: center;
    padding: 1rem;
    border-radius: .4rem;

}
.calc-btn{
    background-color: var(--light-grayish-orange-kbg);
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: 0px 1px 1px 1px var(--grayish-orange-ks);
    cursor: pointer;
    transition: all 0.2s;
    
}
.calc-btn:active{
    transform: translateY(2px);
}
.reset{
    grid-column:1/3;
}
.equal{
    grid-column: 3/5;
    color: var(--white);
    background-color: var(--key-bg-toggle);
    box-shadow: 0px 1px 1px 1px var(--key-bg-toggle);
}
.erase{
    color: var(--white);
    background-color: var(--desaturated-dark-blue-kbg);
    box-shadow: 0px 1px 1px 1px var(--desaturated-dark-blue-ks);
}
.attribution {
    font-size: 13px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}